@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p> Student Details</p>

<table>
    <tr>
        <td>
            Student Name
        </td>
        <td>
           @ViewBag.student.StudentName
        </td>
    </tr>
    <tr>
        <td>
            Student ID
        </td>
        <td>
            @ViewBag.student.StudentId
        </td>
    </tr>
    <tr>
        <td>
            Date Enrolled
        </td>
        <td>
            @ViewBag.student.DateEnrolled
        </td>
    </tr>
    <tr>
        <td>
            
            Course
        </td>
        <td>
            @ViewBag.student.Course
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            @ViewBag.student.Email
        </td>
    </tr>
</table>
