<p> Student Details</p>

<table class="table table-light">
    <tr>
        <th>Student Name</th>
        <th>Course</th>
        <th>More Details</th>
        <th>Update Details</th>
    </tr>

    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.StudentName</td>
            <td>@Student.Email</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Student. StudentId">Show Details</a></td>
            <td><a asp-action="UpdateStudent" asp-route-id="@Student.StudentId">Update</a></td>
            <td>
                <a asp-action="DeleteStudent" asp-route-id="@Student.StudentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>
<div class="text-align: center;">

    <a class="button" style="background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;"
       asp-action="AddStudent">
        Enter an Student

    </a>
</div>
