<h1> Instructor List</h1>

<table class="table table-light">
    <tr>

        <th>First Name</th>
        <th>Last Name </th>
        <th>Tenured</th>
        <th>Rank</th>
        <th>More Details</th>
        <th>Update Details</th>
    </tr>
    
    @foreach (var Instructor in Model)
    {
        <tr>
            <td>@Instructor.InstructorFirstName</td>
            <td>@Instructor.InstructorLastName</td> 
            <td>@Instructor.IsTenured</td>
            <td>@Instructor.Rank</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Instructor.InstructorId">Show Details</a></td>
            <td><a asp-action="UpdateInstructor" asp-route-id="@Instructor.InstructorId">Update</a></td>
            <td>
                <a asp-action="DeleteInstructor" asp-route-id="@Instructor.InstructorId" class="btn btn-danger">Delete</a>
            </td>


        </tr>
        
    }

</table>
<div class="text-align: center;">

    <a class="button" style="background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;"
       asp-action="AddInstructor">
        Enter an Instructor

    </a>
</div>